<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='/style.css' rel='stylesheet'>
    <meta charset="utf-8">
    <title>Living like an artist</title>

  </head>
  <body>

    <div class="card" id="banner">
      <h1>How to live like an artist</h1>
      <p>A 4-step-tutorial</p>
      <a href="https://www.deviantart.com/" class="btn btn-info" target="_blank">Become an artist now</a>
    </div>


      <h2>Maybe you need some inspiration</h2>
      <p>Type a word and try our solution</p>

      <form action="/search" method="get" class="form-inline text-center">
        <input name="query" placeholder="Search artists..." class="form-control" type="text">
        <input value="Search" class="btn btn-info" type="submit">
      </form>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="card">
        <h2>TIME MANAGEMENT</h2>
        <p>Observe the <strong>deadline</strong></p>
        <img src="images/creativeprocess.jpg" alt="valise" width="200"> 
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="card">
        <h2>STYLE</h2>
        <p> Change your hairstyle, be <strong>creative </strong></p>
        <img src="images/hair.jpg" alt="ordinateur" width="100">
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="card">
        <h2>FOOD</h2>
        <p> Feed yourself properly, with <strong>art</strong>!</p>
        <img src="images/sandwich.jpg" alt="ordinateur" width="180">
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="card">
        <h2>OBSERVE</h2>
        <p> Observe and be inspired by <strong>nature </strong></p>
        <img src="images/nature.jpg" alt="ordinateur" width="105">
      </div>
    </div>
  </div>
</div>

    <div class="card" id="footer">
      <h3>Live like an artist and follow us</h3>

      <ul class="list-inline">
        <li>
          <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>

        <li>
          <a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
        </li>

        <li>
          <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>

        <li>
          <a href="https://www.github.io" target="_blank"><i class="fa fa-github"></i></a>
        </li>
      </ul>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">

<div id="wufoo-z1e50sb401dq9vy" >
Fill out my <a href="https://cyechan.wufoo.com/forms/z1e50sb401dq9vy">online form</a>.
</div>
<script type="text/javascript">var z1e50sb401dq9vy;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'cyechan',
'formHash':'z1e50sb401dq9vy',
'autoResize':true,
'height':'519',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1e50sb401dq9vy = new WufooForm();z1e50sb401dq9vy.initialize(options);z1e50sb401dq9vy.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

    </div>


    </div>
  </div>
</div>

      

  </body>
</html>